<%= bootstrap_form_with(model: [@district, @facility, @patient, visit], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :measured_on, label: "Date attended", help: "Format: YYYY-MM-DD" %>
      <%= form.text_field :systolic %>
      <%= form.text_field :diastolic %>
      <%= form.text_field :blood_sugar %>

      <hr>

      <%= form.text_field  :amlodipine %>
      <%= form.text_field  :telmisartan %>
      <%= form.text_field  :enalpril %>
      <%= form.text_field  :chlorthalidone %>
      <%= form.text_field  :aspirin %>
      <%= form.text_field  :statin %>
      <%= form.text_field  :beta_blocker %>
      <%= form.text_field  :next_visit_on, help: "Format: YYYY-MM-DD" %>
      <%= form.check_box :referred_to_specialist %>
    </div>
  </div>

  <%= form.primary %>
<% end %>
