<%= link_to "Add details from previous visit", new_district_facility_patient_visit_path(@district, @facility, @patient, prefill_from_previous_visit: 'true') %>
<%= bootstrap_form_with(model: [@district, @facility, @patient, visit], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :measured_on, label: "Date attended", required: true, autofocus: true,
                          help: "Format: DD/MM/YYYY", type: 'date', min: '2018-01-01', max: '2019-01-01', value: visit.measured_on || '2018-01-01' %>
      <%= form.number_field :systolic, required: true, min: 50, max: 400 %>
      <%= form.number_field :diastolic, required: true, min: 30, max: 400 %>
      <%= form.text_field :blood_sugar %>

      <h4>Treatment doses</h4>
      <p class="text-light bg-info p-3">Please enter dosages like '5mg', or '1 tablet' wherever possible. Do not enter OD, BD, etc.</p>
      <%= form.text_field :amlodipine, label: "Amlodipine dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :telmisartan, label: "Telmisartan dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :enalpril, label: "Enalpril dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :chlorthalidone, label: "Chlorthalidone dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :aspirin, label: "Aspirin dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :statin, label: "Statin dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :beta_blocker, label: "Beta blocker dose", pattern: '[^YNyn]*' %>
      <%= form.text_field :losartan, label: "Losartan dose", pattern: '[^YNyn]*' %>

      <% 3.times do |i| %>
        <div class="form-row">
          <div class="col-8">
            <%= form.text_field "medication#{i + 1}_name".to_sym, label: "Other Medication" %>
          </div>
          <div class="col-4">
            <%= form.text_field "medication#{i + 1}_dose".to_sym, label: "Dose" %>
          </div>
        </div>
      <% end %>

      <%= form.text_field :next_visit_on,
                          help: "Format: DD/MM/YYYY", type: 'date', min: '2018-01-01', max: '2019-01-01', value: visit.measured_on || '2018-01-01' %>
      <%= form.check_box :referred_to_specialist %>
    </div>
  </div>

  <%= form.primary %>
<% end %>
