<%= bootstrap_form_with(model: [@district, @facility, @patient, visit], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :measured_on, label: "Date attended", required: true, autofocus: true, placeholder: "DD/MM/YYYY",
                          help: "Format: DD/MM/YYYY", value: visit.measured_on || @patient.registered_on %>
      <%= form.number_field :systolic, min: 50, max: 400 %>
      <%= form.number_field :diastolic, min: 30, max: 400 %>
      <%= form.text_field :blood_sugar %>

      <h4>Treatment doses</h4>
      <% if @previous_visit.present? %>
        <p>
          <%= link_to "Copy medications from previous visit on #{@previous_visit.measured_on}", new_district_facility_patient_visit_path(@district, @facility, @patient, prefill_from_previous_visit: 'true'), autofocus: true %>
        </p>
      <% end %>

      <p class="text-light bg-info p-3">Please enter dosages like '5mg', or '1 tablet' wherever possible. Do not enter OD, BD, etc.</p>

      <% %i(amlodipine telmisartan enalpril chlorthalidone aspirin statin beta_blocker).each do |drug| %>
        <%= form.text_field drug, label: "#{drug.to_s.humanize} dose", pattern: '[^YNyn]*',
                            help: @previous_visit.present? && @previous_visit.send(drug).present? ? "Previous visit: #{@previous_visit.send(drug)}" : "" %>
      <% end %>

      <% 3.times do |i| %>
        <% drug = "medication#{i + 1}_name".to_sym %>
        <% dose = "medication#{i + 1}_dose".to_sym %>

        <div class="form-row">
          <div class="col-8">
            <%= form.text_field drug, label: "Other Medication",
                                help: @previous_visit.present? && @previous_visit.send(drug).present? ? "Previous visit: #{@previous_visit.send(drug)}" : "" %>
          </div>
          <div class="col-4">
            <%= form.text_field dose, label: "Dose",
                                help: @previous_visit.present? && @previous_visit.send(dose).present? ? "Previous visit: #{@previous_visit.send(dose)}" : "" %>
          </div>
        </div>
      <% end %>

      <%= form.text_field :next_visit_on, label: "Next visit date", autofocus: true, placeholder: "DD/MM/YYYY",
                          help: "Format: DD/MM/YYYY", value: visit.next_visit_on %>
      <%= form.check_box :referred_to_specialist %>
    </div>
  </div>

  <%= form.submit "Save", class: "btn btn-outline-primary" %>
  <%= form.primary "Save and Add New Visit" %>
  <%= form.primary "Save and Add New Treatment Card" %>
<% end %>
