<%= bootstrap_form_with(model: [@district, @facility, @patient, visit], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.date_field :measured_on, label: "Date attended", required: true, autofocus: true,
                          help: "Format: DD/MM/YYYY", min: '2018-01-01', max: '2019-01-01', value: visit.measured_on || '2018-01-01' %>
      <%= form.number_field :systolic, required: true, min: 50, max: 400 %>
      <%= form.number_field :diastolic, required: true, min: 30, max: 400 %>
      <%= form.text_field :blood_sugar %>

      <h4>Treatment doses</h4>
      <p>
        <%= link_to "Copy medications from previous visit on #{@previous_visit.measured_on}", new_district_facility_patient_visit_path(@district, @facility, @patient, prefill_from_previous_visit: 'true'), autofocus: true %>
      </p>

      <p class="text-light bg-info p-3">Please enter dosages like '5mg', or '1 tablet' wherever possible. Do not enter OD, BD, etc.</p>

      <% %i(amlodipine telmisartan enalpril chlorthalidone aspirin statin beta_blocker).each do |drug| %>
        <%= form.text_field drug, label: "#{drug.to_s.humanize} dose", pattern: '[^YNyn]*',
                            help: @previous_visit.send(drug).present? ? "Previous visit: #{@previous_visit.send(drug)}" : "" %>
      <% end %>

      <% 3.times do |i| %>
        <div class="form-row">
          <div class="col-8">
            <%= form.text_field "medication#{i + 1}_name".to_sym, label: "Other Medication" %>
          </div>
          <div class="col-4">
            <%= form.text_field "medication#{i + 1}_dose".to_sym, label: "Dose" %>
          </div>
        </div>
      <% end %>

      <%= form.date_field :next_visit_on,
                          help: "Format: DD/MM/YYYY", min: '2018-01-01', max: '2019-01-01', value: visit.next_visit_on || '2018-01-01' %>
      <%= form.check_box :referred_to_specialist %>
    </div>
  </div>

  <%= form.submit "Save", class: "btn btn-outline-primary" %>
  <%= form.primary "Save and Add New Visit" %>
<% end %>
