<p id="notice"><%= notice %></p>

<h1>Facilities</h1>

<% @facilities.group_by(&:district).sort.each do |district, district_facilities| %>
  <h2><%= district %></h2>
  <ul>
    <% district_facilities.sort.each do |facility| %>
      <li><%= link_to facility.name, facility %></li>
    <% end %>
  </ul>
<% end %>

<h2>Facility Not Listed?</h2>

<%= form_with(model: @facility, local: true) do |form| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :facility_name %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district, id: :facility_district %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
