<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
</ul>

<h1><%= @facility.name %></h1>

<%= link_to "Add Treatment Card", new_district_facility_patient_path(@district, @facility, @patient), class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Patient Treatment Number</th>
      <% if current_user.admin? %>
        <th>Sync Status</th>
      <% end %>
      <th>Registration Date</th>
    </tr>
  </thead>
  <tbody>
    <% @facility.patients.sort_by { |p| p.treatment_number.to_i }.each do |patient| %>
      <tr>
        <td><%= link_to patient.formatted_treatment_number, district_facility_patient_path(@district, @facility, patient) %></td>
        <% if current_user.admin? %>
          <td>
             <span class="badge <%= sync_status_class(patient.patient_sync_status) %>">
               Patient - <%= patient.patient_sync_status.to_s.humanize %>
             </span>
          </td>
        <% end %>
        <td><%= patient.registered_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>
