<%= bootstrap_form_with(model: [@district, @facility, patient], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :registered_on, label: "Date of registration", help: "DD/MM/YYYY" %>
      <%= form.number_field :treatment_number, prepend: "2018-", help: "No need to type leading zeroes; they will be added automatically" %>
      <%= form.text_field :alternate_id_number, label: "Aadhaar number or any other ID number" %>

      <h4>A. Patient Identification Information</h4>

      <%= form.text_field  :name %>
      <%= form.text_field  :gender %>
      <%= form.number_field :age %>
      <%= form.text_field  :house_number %>
      <%= form.text_field  :street_number %>
      <%= form.text_field  :area, label: "Area/Colony" %>
      <%= form.text_field  :village, label: "Village/Town" %>
      <%= form.text_field  :district, label: "District name" %>
      <%= form.text_field  :pincode %>
      <%= form.text_field  :phone, label: "Patient phone" %>
      <%= form.text_field  :alternate_phone %>

      <h4>B. Diagnosis</h4>

      <%= form.text_field  :already_on_treatment %>
      <%= form.text_field  :prior_heart_attack %>
      <%= form.text_field  :heard_attack_in_last_3_years %>
      <%= form.text_field  :prior_stroke %>
      <%= form.text_field  :chronic_kidney_disease %>

      <h4>C. Hypertension Treatment at Registration</h4>

      <% 4.times do |i| %>
        <div class="form-row">
          <div class="col-8">
            <%= form.text_field "medication#{i + 1}_name".to_sym, label: "Medication" %>
          </div>
          <div class="col-4">
            <%= form.text_field "medication#{i + 1}_dose".to_sym, label: "Dose" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h4>Initial and Follow Up Visits</h4>
  <div class="row">
    <% visit_number = 1 %>
    <%= form.fields_for :blood_pressures do |bp_form| %>
      <div class="col-sm-4 col-md-3 col-lg-2 border-left">
        <h5 class="border-bottom pb-3">Visit <%= visit_number %></h5>

        <%= bp_form.text_field :measured_on, label: "Date attended" %>
        <%= bp_form.text_field :systolic %>
        <%= bp_form.text_field :diastolic %>
        <%= bp_form.text_field :blood_sugar %>

        <hr>

        <%= form.text_field  :amlodipine %>
        <%= form.text_field  :telmisartan %>
        <%= form.text_field  :enalpril %>
        <%= form.text_field  :chlorthalidone %>
        <%= form.text_field  :aspirin %>
        <%= form.text_field  :statin %>
        <%= form.text_field  :beta_blocker %>
        <%= form.text_field  :next_visit_on %>
        <%= form.check_box :referred_to_specialist %>
      </div>

      <% visit_number += 1 %>
    <% end %>
  </div>

  <%= form.submit "Save Treatment Card", class: "btn btn-primary" %>
<% end %>
