<%= bootstrap_form_with(model: [@district, @facility, patient], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :registered_on, label: "Date of registration", help: "DD/MM/YYYY" %>
      <%= form.number_field :treatment_number, prepend: @patient.treatment_number_prefix, help: "No need to type leading zeroes; they will be added automatically" %>
      <%= form.text_field :alternate_id_number, label: "Aadhaar number or any other ID number" %>

      <h4>A. Patient Identification Information</h4>

      <%= form.text_field  :name %>
      <%= form.text_field  :gender %>
      <%= form.number_field :age %>
      <%= form.text_field  :house_number %>
      <%= form.text_field  :street_name %>
      <%= form.text_field  :area, label: "Area/Colony" %>
      <%= form.text_field  :village, label: "Village/Town" %>
      <%= form.text_field  :district, label: "District name" %>
      <%= form.text_field  :pincode %>
      <%= form.text_field  :phone, label: "Patient phone" %>
      <%= form.text_field  :alternate_phone %>

      <h4>B. Diagnosis</h4>

      <div class="mb-4">
        <%= form.check_box :already_on_treatment %>
        <%= form.check_box :prior_heart_attack %>
        <%= form.check_box :heard_attack_in_last_3_years %>
        <%= form.check_box :prior_stroke %>
        <%= form.check_box :chronic_kidney_disease %>
      </div>

      <h4>C. Hypertension Treatment at Registration</h4>

      <% 4.times do |i| %>
        <div class="form-row">
          <div class="col-8">
            <%= form.text_field "medication#{i + 1}_name".to_sym, label: "Medication" %>
          </div>
          <div class="col-4">
            <%= form.text_field "medication#{i + 1}_dose".to_sym, label: "Dose" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit "Save Treatment Card", class: "btn btn-primary" %>
<% end %>

 <script>
   $(function() {
     $("#patient_treatment_number").on("input", function() {
       treatment_number = $(this).val();
       max_length = 8;

       prefix = "2018-";
       if (treatment_number.length < max_length) {
         prefix += "0".repeat(max_length - treatment_number.length);
       }

       $(this).parent(".input-group").find(".input-group-text").html(prefix);
     });
   });
 </script>
