<%= bootstrap_form_with(model: [@district, @facility, patient], local: true, label_errors: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :registered_on, label: "Date of registration", required: true, autofocus: true,
                          help: "Format: DD/MM/YYYY", type: 'date', min: '2018-01-01', max: '2019-01-01', value: patient.registered_on || '2018-01-01' %>
      <%= form.text_field :treatment_number, prepend: patient.treatment_number_prefix, help: "No need to type leading zeroes; they will be added automatically", required: true %>

      <h4>A. Patient Identification Information</h4>

      <%= form.text_field :name, label: "Full Name", required: true, minlength: 3 %>

      <%= form.label :gender %>
      <%= form.form_group :gender do %>
        <%= form.radio_button :gender, "Male", inline: true, required: true %>
        <%= form.radio_button :gender, "Female", inline: true, required: true %>
        <%= form.radio_button :gender, "Transgender", inline: true, required: true %>
      <% end %>

      <%= form.number_field :age, required: true, min: 16, max: 120 %>
      <%= form.text_field :house_number %>
      <%= form.text_field :street_name, minlength: 3 %>
      <%= form.text_field :area, label: "Area/Colony" %>
      <%= form.text_field :village, label: "Village/Town" %>
      <%= form.text_field :district, label: "District name" %>
      <%= form.text_field :pincode, pattern: '\d+', minlength: 3, help: "Please enter the 6 digit PIN code of the area" %>
      <%= form.text_field :phone, label: "Patient phone", pattern: '\d+', minlength: 6 %>
      <%= form.text_field :alternate_phone, pattern: '\d+', minlength: 6 %>

      <h4>B. Diagnosis</h4>

      <div class="mb-4">
        <%= form.check_box :diagnosed_with_hypertension, label: "Hypertension. Yes, treatment initiated." %>
        <%= form.check_box :already_on_treatment, label: "Yes, was already on treatment when registered." %>
        <div class="form-row">
          <div class="col"><%= form.label :prior_heart_attack %></div>
          <%= form.form_group :prior_heart_attack do %>
            <%= form.radio_button :prior_heart_attack, "Yes", inline: true, checked: patient.prior_heart_attack || nil %>
            <%= form.radio_button :prior_heart_attack, "No", inline: true, checked: patient.prior_heart_attack === false %>
          <% end %>
        </div>
        <div class="form-row">
          <div class="col"><%= form.label :heard_attack_in_last_3_years %></div>
          <%= form.form_group :heard_attack_in_last_3_years do %>
            <%= form.radio_button :heard_attack_in_last_3_years, "Yes", inline: true, checked: patient.heard_attack_in_last_3_years || nil %>
            <%= form.radio_button :heard_attack_in_last_3_years, "No", inline: true, checked: patient.heard_attack_in_last_3_years === false %>
          <% end %>
        </div>
        <div class="form-row">
          <div class="col"><%= form.label :prior_stroke %></div>
          <%= form.form_group :prior_stroke do %>
            <%= form.radio_button :prior_stroke, "Yes", inline: true, checked: patient.prior_stroke || nil %>
            <%= form.radio_button :prior_stroke, "No", inline: true, checked: patient.prior_stroke === false %>
          <% end %>
        </div>
        <div class="form-row">
          <div class="col"><%= form.label :chronic_kidney_disease %></div>
          <%= form.form_group :chronic_kidney_disease do %>
            <%= form.radio_button :chronic_kidney_disease, "Yes", inline: true, checked: patient.chronic_kidney_disease || nil %>
            <%= form.radio_button :chronic_kidney_disease, "No", inline: true, checked: patient.chronic_kidney_disease === false %>
          <% end %>
        </div>
      </div>

      <h4>C. Hypertension Treatment at Registration</h4>

      <% 4.times do |i| %>
        <div class="form-row">
          <div class="col-8">
            <%= form.text_field "medication#{i + 1}_name".to_sym, label: "Medication" %>
          </div>
          <div class="col-4">
            <%= form.text_field "medication#{i + 1}_dose".to_sym, label: "Dose" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit "Save Treatment Card", class: "btn btn-primary" %>
<% end %>

<script>
    $(function () {
        $("#patient_treatment_number").on("input", function () {
            treatment_number = $(this).val();
            max_length = 8;

            prefix = "2018-";
            if (treatment_number.length < max_length) {
                prefix += "0".repeat(max_length - treatment_number.length);
            }

            $(this).parent(".input-group").find(".input-group-text").html(prefix);
        });
    });
</script>
