<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
  <%= render "layouts/breadcrumbs/facility" %>
  <%= render "layouts/breadcrumbs/patient" %>
</ul>

<h1>Edit Patient <%= @patient.formatted_treatment_number %></h1>

<%= render 'form', patient: @patient %>
