<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
  <%= render "layouts/breadcrumbs/facility" %>
</ul>

<%= link_to "Edit Patient", edit_district_facility_patient_path(@district, @facility, @patient), class: "btn btn-secondary float-right" %>

<h1>Treatment Number <%= @patient.treatment_number %></h1>

<div class="row my-5">
  <ul class="list-group col-md-6">
    <h3>Patient Identification Information</h3>
    <li class="list-group-item"><strong>registered_on</strong>: <%= @patient.registered_on %></li>
    <li class="list-group-item"><strong>alternate_id_number</strong>: <%= @patient.alternate_id_number %></li>
    <li class="list-group-item"><strong>name</strong>: <%= @patient.name %></li>
    <li class="list-group-item"><strong>gender</strong>: <%= @patient.gender %></li>
    <li class="list-group-item"><strong>age</strong>: <%= @patient.age %></li>
    <li class="list-group-item"><strong>house_number</strong>: <%= @patient.house_number %></li>
    <li class="list-group-item"><strong>street_name</strong>: <%= @patient.street_name %></li>
    <li class="list-group-item"><strong>area</strong>: <%= @patient.area %></li>
    <li class="list-group-item"><strong>village</strong>: <%= @patient.village %></li>
    <li class="list-group-item"><strong>district</strong>: <%= @patient.district %></li>
    <li class="list-group-item"><strong>pincode</strong>: <%= @patient.pincode %></li>
    <li class="list-group-item"><strong>phone</strong>: <%= @patient.phone %></li>
    <li class="list-group-item"><strong>alternate_phone</strong>: <%= @patient.alternate_phone %></li>
  </ul>
  <ul class="list-group col-md-6">
    <h3>Medical History</h3>
    <li class="list-group-item"><strong>already_on_treatment</strong>: <%= @patient.already_on_treatment %></li>
    <li class="list-group-item"><strong>prior_heart_attack</strong>: <%= @patient.prior_heart_attack %></li>
    <li class="list-group-item"><strong>heard_attack_in_last_3_years</strong>: <%= @patient.heard_attack_in_last_3_years %></li>
    <li class="list-group-item"><strong>prior_stroke</strong>: <%= @patient.prior_stroke %></li>
    <li class="list-group-item"><strong>chronic_kidney_disease</strong>: <%= @patient.chronic_kidney_disease %></li>
    <li class="list-group-item"><strong>medication1_name</strong>: <%= @patient.medication1_name %></li>
    <li class="list-group-item"><strong>medication1_dose</strong>: <%= @patient.medication1_dose %></li>
    <li class="list-group-item"><strong>medication2_name</strong>: <%= @patient.medication2_name %></li>
    <li class="list-group-item"><strong>medication2_dose</strong>: <%= @patient.medication2_dose %></li>
    <li class="list-group-item"><strong>medication3_name</strong>: <%= @patient.medication3_name %></li>
    <li class="list-group-item"><strong>medication3_dose</strong>: <%= @patient.medication3_dose %></li>
    <li class="list-group-item"><strong>medication4_name</strong>: <%= @patient.medication4_name %></li>
    <li class="list-group-item"><strong>medication4_dose</strong>: <%= @patient.medication4_dose %></li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date Attended</th>
      <th>Blood Pressure</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.blood_pressures.order(:measured_on).each do |blood_pressure| %>
      <tr>
        <td><%= blood_pressure.measured_on.strftime("%d-%m-%Y") %></td>
        <td><%= blood_pressure.systolic %> / <%= blood_pressure.diastolic %></td>
      </tr>
    <% end %>
  </tbody>
</table>
