<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Districts", root_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @district.name, district_path(@district) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @facility.name, district_facility_path(@district, @facility) %>
  </li>
</ul>

<h1>Treatment Number <%= @patient.treatment_number %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date Attended</th>
      <th>Blood Pressure</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.blood_pressures.order(:measured_on).each do |blood_pressure| %>
      <tr>
        <td><%= blood_pressure.measured_on.strftime("%d-%m-%Y") %></td>
        <td><%= blood_pressure.systolic %> / <%= blood_pressure.diastolic %></td>
      </tr>
    <% end %>
  </tbody>
</table>
