<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
  <%= render "layouts/breadcrumbs/facility" %>
</ul>

<% if @patient.unsynced? %>
  <%= link_to "Edit Patient", edit_district_facility_patient_path(@district, @facility, @patient), class: "btn btn-secondary float-right" %>
<% end %>
<% if policy(@patient).sync? && @patient.unsynced? %>
  <%= link_to "Sync Patient", district_facility_patient_sync_path(@district, @facility, @patient), method: :post, class: "btn btn-warning float-right mr-1" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Treatment Number <%= @patient.formatted_treatment_number %></h1>
  </div>
  <% if current_user.admin? %>
    <div class="col-md-12">
      <span class="badge <%= sync_status_class(@patient.patient_sync_status) %>">
        Patient - <%= @patient.patient_sync_status.to_s.humanize %>
      </span>
      <span class="badge <%= sync_status_class(@patient.medical_history_sync_status) %>">
        Medical History - <%= @patient.medical_history_sync_status.to_s.humanize %>
      </span>
    </div>
  <% end %>
</div>

<div class="row my-5">
  <div class="col-md-6">
    <h3>A. Patient Identification Information</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Date of Registration</strong>: <%= @patient.registered_on %></li>
      <li class="list-group-item"><strong>Name</strong>: <%= @patient.name %></li>
      <li class="list-group-item"><strong>Gender</strong>: <%= @patient.gender %></li>
      <li class="list-group-item"><strong>Age</strong>: <%= @patient.age %></li>
      <li class="list-group-item"><strong>House number</strong>: <%= @patient.house_number %></li>
      <li class="list-group-item"><strong>Street name</strong>: <%= @patient.street_name %></li>
      <li class="list-group-item"><strong>Area/Colony</strong>: <%= @patient.area %></li>
      <li class="list-group-item"><strong>Village/Town</strong>: <%= @patient.village %></li>
      <li class="list-group-item"><strong>District</strong>: <%= @patient.district %></li>
      <li class="list-group-item"><strong>Pincode</strong>: <%= @patient.pincode %></li>
      <li class="list-group-item"><strong>Patient phone</strong>: <%= @patient.phone %></li>
      <li class="list-group-item"><strong>Alternate phone</strong>: <%= @patient.alternate_phone %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>B. Diagnosis</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Hypertension. Yes, treatment initiated:</strong>
        <span><%= display_yes_no_field(@patient.diagnosed_with_hypertension) %></span>
      </li>
      <li class="list-group-item"><strong>Yes, was already on treatment when registered:</strong>
        <span><%= display_yes_no_field(@patient.already_on_treatment) %></span>
      </li>
      <li class="list-group-item"><strong>Prior heart attack?</strong>
        <span><%= display_yes_no_field(@patient.prior_heart_attack) %></span>
      </li>
      <li class="list-group-item"><strong>Heart attack in last 3 years?</strong>
        <span><%= display_yes_no_field(@patient.heart_attack_in_last_3_years) %></span>
      </li>
      <li class="list-group-item"><strong>Prior stroke?</strong>
        <span><%= display_yes_no_field(@patient.prior_stroke) %></span>
      </li>
      <li class="list-group-item"><strong>Chronic kidney disease?</strong>
        <span><%= display_yes_no_field(@patient.chronic_kidney_disease) %></span>
      </li>
    </ul>

    <h3 class="mt-4">C. Hypertension treatment at registration</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Medication 1</strong>: <%= [@patient.medication1_name, @patient.medication1_dose].join(" ") %></li>
      <li class="list-group-item">
        <strong>Medication 2</strong>: <%= [@patient.medication2_name, @patient.medication2_dose].join(" ") %></li>
      <li class="list-group-item">
        <strong>Medication 3</strong>: <%= [@patient.medication3_name, @patient.medication3_dose].join(" ") %></li>
      <li class="list-group-item">
        <strong>Medication 4</strong>: <%= [@patient.medication4_name, @patient.medication4_dose].join(" ") %></li>
    </ul>
  </div>
</div>

<h4>Visits</h4>
<div class="row">
  <% @patient.visits.order(:measured_on).each_with_index do |visit, index| %>
    <% if index % 5 == 0 %>
      <div class="col-md-2 visit">
        <span class="visit-info visit-header">Date Attended</span>
        <span class="visit-info visit-header">Systolic</span>
        <span class="visit-info visit-header">Diastolic</span>
        <span class="visit-info visit-header">Blood Sugar</span>

        <% %i(amlodipine telmisartan enalpril chlorthalidone aspirin statin beta_blocker).each do |drug| %>
          <span class="visit-info visit-header"><%= drug.to_s.humanize %></span>
        <% end %>

        <% (1..3).each do |drug_number| %>
          <span class="visit-info visit-header">Medication <%= drug_number %></span>
        <% end %>

        <span class="visit-info visit-header">Referred to Specialist</span>
        <span class="visit-info visit-header">Date of Next Visit</span>
        <% if current_user.admin? %>
          <span class="visit-info visit-header">Visit Sync Status</span>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-2 visit">
      <%= visit_info("measured_on", visit.measured_on) %>
      <%= visit_info("systolic", visit.systolic) %>
      <%= visit_info("diastolic", visit.diastolic) %>
      <%= visit_info("blood_sugar", visit.blood_sugar) %>

      <% %i(amlodipine telmisartan enalpril chlorthalidone aspirin statin beta_blocker).each do |drug| %>
        <%= visit_info(drug.to_s, visit.send(drug)) %>
      <% end %>

      <% (1..3).each do |drug_number| %>
        <% name = visit.send("medication#{drug_number}_name".to_sym) %>
        <% dose = visit.send("medication#{drug_number}_dose".to_sym) %>

        <%= visit_info_drug("medication#{drug_number}", name, dose) %>
      <% end %>

      <%= visit_info("referred_to_specialist", visit.referred_to_specialist? ? "Yes" : "No") %>
      <%= visit_info("next_visit_on", visit.next_visit_on) %>
      <% if current_user.admin? %>
        <span class="w-100 badge <%= sync_status_class(visit.blood_pressure_sync_status) %>">
          BP - <%= visit.blood_pressure_sync_status.to_s.humanize %>
        </span>

        <span class="w-100 badge <%= sync_status_class(visit.appointment_sync_status) %>">
          Appointment - <%= visit.appointment_sync_status.to_s.humanize %>
        </span>
      <% end %>

      <%= link_to "Edit", edit_district_facility_patient_visit_path(@district, @facility, @patient, visit), class: "w-100 btn btn-sm btn-secondary my-0" %>
    </div>
  <% end %>

  <div class="col-md-2 visit">
    <%= link_to "Add Visit", new_district_facility_patient_visit_path(@district, @facility, @patient), class: "btn btn-primary" %>
  </div>
</div>

<%= link_to "Delete Patient", district_facility_patient_path(@district, @facility, @patient), method: :delete, class: "btn btn-sm btn-outline-danger float-right", data: { confirm: "Are you sure you want to delete this patient?" } %>

<%= link_to "Save and Add New Treatment Card", new_district_facility_patient_path(@district, @facility, @patient), class: "btn btn-primary" %>