<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
  <%= render "layouts/breadcrumbs/facility" %>
</ul>

<%= link_to "Edit Patient", edit_district_facility_patient_path(@district, @facility, @patient), class: "btn btn-secondary float-right" %>

<h1>Treatment Number <%= @patient.formatted_treatment_number %></h1>

<div class="row my-5">
  <div class="col-md-6">
    <h3>A. Patient Identification Information</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Date of Registration</strong>: <%= @patient.registered_on %></li>
      <li class="list-group-item"><strong>Aadhaar / Alternate ID Number</strong>: <%= @patient.alternate_id_number %></li>
      <li class="list-group-item"><strong>Name</strong>: <%= @patient.name %></li>
      <li class="list-group-item"><strong>Gender</strong>: <%= @patient.gender %></li>
      <li class="list-group-item"><strong>Age</strong>: <%= @patient.age %></li>
      <li class="list-group-item"><strong>House number</strong>: <%= @patient.house_number %></li>
      <li class="list-group-item"><strong>Street name</strong>: <%= @patient.street_name %></li>
      <li class="list-group-item"><strong>Area/Colony</strong>: <%= @patient.area %></li>
      <li class="list-group-item"><strong>Village/Town</strong>: <%= @patient.village %></li>
      <li class="list-group-item"><strong>District</strong>: <%= @patient.district %></li>
      <li class="list-group-item"><strong>Pincode</strong>: <%= @patient.pincode %></li>
      <li class="list-group-item"><strong>Patient phone</strong>: <%= @patient.phone %></li>
      <li class="list-group-item"><strong>Alternate phone</strong>: <%= @patient.alternate_phone %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>B. Diagnosis</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Diagnosed with hypertension?</strong>:
        <span><%= @patient.diagnosed_with_hypertension? ? "Yes" : (@patient.diagnosed_with_hypertension == false ? "No" : "Don't know") %></span>
      </li>
      <li class="list-group-item"><strong>Already on treatment?</strong>:
        <span><%= @patient.already_on_treatment? ? "Yes" : (@patient.already_on_treatment == false ? "No" : "Don't know") %></span>
      </li>
      <li class="list-group-item"><strong>Prior heart attack?</strong>:
        <span><%= @patient.prior_heart_attack? ? "Yes" : (@patient.prior_heart_attack == false ? "No" : "Don't know") %></span>
      </li>
      <li class="list-group-item"><strong>Heart attack in last 3 years?</strong>:
        <span><%= @patient.heard_attack_in_last_3_years? ? "Yes" : (@patient.heard_attack_in_last_3_years == false ? "No" : "Don't know") %></span>
      </li>
      <li class="list-group-item"><strong>Prior stroke?</strong>:
        <span><%= @patient.prior_stroke? ? "Yes" : (@patient.prior_stroke == false ? "No" : "Don't know") %></span>
      </li>
      <li class="list-group-item"><strong>Chronic kidney disease?</strong>:
        <span><%= @patient.chronic_kidney_disease? ? "Yes" : (@patient.chronic_kidney_disease == false ? "No" : "Don't know") %></span>
      </li>
    </ul>

    <h3 class="mt-4">C. Hypertension treatment at registration</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Medication 1</strong>: <%= [@patient.medication1_name, @patient.medication1_dose].join(" ") %></li>
      <li class="list-group-item"><strong>Medication 2</strong>: <%= [@patient.medication2_name, @patient.medication2_dose].join(" ") %></li>
      <li class="list-group-item"><strong>Medication 3</strong>: <%= [@patient.medication3_name, @patient.medication3_dose].join(" ") %></li>
      <li class="list-group-item"><strong>Medication 4</strong>: <%= [@patient.medication4_name, @patient.medication4_dose].join(" ") %></li>
    </ul>
  </div>
</div>

<%= link_to "Add Visit Details", new_district_facility_patient_visit_path(@district, @facility, @patient), class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date Attended</th>
      <th>Blood Pressure</th>
      <th>Blood Sugar</th>
      <th>Medications</th>
      <th>Next Visit</th>
      <th>
    </tr>
  </thead>
  <tbody>
    <% @patient.visits.order(:measured_on).each do |visit| %>
      <tr>
        <td><%= visit.measured_on.strftime("%d-%m-%Y") %></td>
        <td><%= visit.systolic %> / <%= visit.diastolic %></td>
        <td><%= visit.blood_sugar %></td>
        <td>
          <ul class="list-unstyled">
            <% %i(amlodipine telmisartan enalpril chlorthalidone aspirin statin beta_blocker).each do |drug| %>
              <% if visit.send(drug).present? %>
                <li><%= drug.to_s.humanize %>: <%= visit.send(drug)%></li>
              <% end %>
            <% end %>

            <% (1..3).each do |drug_number| %>
              <% if visit.send("medication#{drug_number}_name".to_sym).present? %>
                <% name = visit.send("medication#{drug_number}_name".to_sym) %>
                <% dose = visit.send("medication#{drug_number}_dose".to_sym) %>
                <li><%= name.humanize %>: <%= dose.to_s %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td><%= visit.next_visit_on %></td>
        <td class="align-top"><%= link_to "Edit", edit_district_facility_patient_visit_path(@district, @facility, @patient, visit), class: "btn btn-sm btn-secondary my-0" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Delete Patient", district_facility_patient_path(@district, @facility, @patient), method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to delete this patient?" } %>
