<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
</ul>

<h1><%= @district.name %></h1>

<% unless @sync_status %>
  <%= link_to "Show sync status", district_path(id: @district.id, sync_status: true), class: 'btn btn-info' %>
<% end %>

<% if @sync_report %>
  <%= render 'shared/sync_panel', resource: 'Facilities' %>
<% end %>

<table class="table">
  <tbody>
  <% @district.facilities.order(:name).each do |facility| %>
    <tr>
      <td><%= link_to facility.name, district_facility_path(@district, facility) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<section>
  <h3>Facility not listed?</h3>

  <div class="row">
    <div class="col-6">
      <%= bootstrap_form_with(model: [@district, @facility], local: true, label_errors: true) do |form| %>
        <%= form.text_field :name, class: "form-input", label: "Facility name" %>
        <%= form.primary "Add Facility" %>
      <% end %>
    </div>
  </div>
</section>
