<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
</ul>

<h1><%= @district.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Facilities</th>
    </tr>
  </thead>
  <tbody>
    <% @district.facilities.order(:name).each do |facility| %>
      <tr>
        <td><%= link_to facility.name, district_facility_path(@district, facility) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<section>
  <h3>Facility not listed?</h3>

  <%= form_with(model: [@district, @facility], local: true) do |form| %>
    <div class="form-group <%= @facility.errors.any? ? "has-error" : nil %>">
      <%= form.label :name, "What's the facility name?", class: "form-label" %>
      <%= form.text_field :name, id: :facility_name, class: "form-input" %>
      <% if @facility.errors.any? %>
        <p class="form-input-hint">Name <%= @facility.errors[:name].join(", ") %></p>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Add Facility", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
