<!DOCTYPE html>
<html>
  <head>
    <title>Cardreader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <p>Confused? Have questions? Contact <%= ENV.fetch("CONTACT_NAME") %> on WhatsApp at <%= ENV.fetch("CONTACT_PHONE") %></p>
    </footer>
  </body>
</html>
